<nav class="navbar sticky-top navbar-dark" style="background-color:#669BDC;">
                <a class="navbar-brand" href="/allForms">Form B | Autoclub WebApp</a>
                <ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link" style="color:white;" href="/allForms">Forms</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color:white;" href="/newForm">New Form</a>
  </li>
</ul>
         </nav>

         <center><h1 style="margin-top:200px;">Oops..something went wrong.</h1></center>
